<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tr th:each="us: ${users2}">
            <td th:text="${us.id}"></td>
            <td th:text="${us.name}"></td>
            <td th:text="${us.email}"></td>
            <td>
                <span th:each="role,iterStat: ${us.roles}">
                    <span th:text="${role.role}"></span>
                    <th:block th:if="${!iterStat.last}">,</th:block>
                </span>
            </td>
            <td>
                <a th:href="@{/addUserRole/{user_id}(id=${us.id})}" class="btn btn-success btn-xs">Add Role</a>
                <a th:href="@{/delete/{user_id}(id=${us.id})}" class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>